* {
}

.Logo-image {
  height: 60px;
  width: auto;
}
.box {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  text-align: center;
}
.Full-line {
  height: 3px;
  background-color: black;
}
.Title {
  margin-top: 15px;
  height: auto;
  background-color: #1f4e79;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.margin_padding {
  margin-top: 5px;
}

.subTitle {
  font-size: 12px;
  font-weight: none !important;
}
.dateofBirthFormat {
  padding-left: 5px;
  margin-top: 7px;
}
.specifyBox {
  height: 20px;
  width: 180px;
  border: 1px solid black;
}
